ul.header-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: transparent;
  }
  
  ul.header-nav  li {
    float: left;
    color: #cccccc;
    font-size: 22px;
    white-space: nowrap;
  }

  ul.header-nav  li.active {
    color: #ffffff;
  }
  
  ul.header-nav  li a {
    display: block;
    text-align: center;
    padding: 50px 20px 0px 50px;
    text-decoration: none;
  }
  
  ul.header-nav  li a:hover:not(.active) {
    background-color: #111;
  }

  .slider {
    margin: 0 auto;
    background-size: cover;
    height: 70vh;
    overflow: auto;
    padding-top: 20px;
  }

  .fs-30 {
    font-size: 30px;
  }

  .p-10 {
    padding: 10px;
  }

  .header-title {
    color: #ffffff;
    margin-top: 60px;
    margin-left: 40px;
  }

  .fs-16 {
    font-size: 16px;
  }

  .p-5 {
    padding: 5px;
  }

  .sub-header-title {
    color: #ffffff;
    margin-top: 20px;
    margin-left: 50px;
  }

  .no-wrap {
    white-space: nowrap;
  }  

  .site, .header-nav { 
    display:grid;   
    grid-auto-flow:column;  
    grid-gap:10px; 
    margin:0px 30px;
    overflow:auto;
  }

  .site > * {
    width: 250px;
    color:#fff; 
    font-size:20px;
    background:#cc0000;
    height: 220px;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.site::-webkit-scrollbar, .header-nav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.site, .header-nav {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}  

.shows {
  background-color: #272525;
  padding-bottom: 30px;
}

.header-text {
  padding: 40px 0px 8px 30px;
  color: #fff;
  font-weight: bold;
}
